<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomers</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/chat.js" defer></script>
</head>
<body>
    <div class="container">
        <h1 class="center">Welcome to Roomers! You are in the {{room}} room</h1>
        <p id="server_msg" class="center"></p>

        <div class="msgWrapper">
            <ul class="messages"></ul>
        </div>

        <div class="controls">
            <button id="send">
                <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_179886.png&f=1&nofb=1" alt="" width="24" height="24">
            </button>
            <input type="text" id="msg" name="msg" placeholder="Enter message..." required><br>
        </div>
    </div>
</body>
</html>