<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomers</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/action.js" defer></script>
</head>
<body>
    <h1>Welcome to Roomers! You are in the {{room}} room</h1>
    <p id="server_msg"></p>

    <div class="msgWrapper">
        <ul class="messages"></ul>
    </div>

    <div class="controls">
        <label for="msg"></label><br>
        <input type="text" id="msg" name="msg" placeholder="Enter message..."><br>
        <button id="send">Send</button>
    </div>
</body>
</html>