<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomers</title>
    <link rel="stylesheet" href="css/chat.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/chat.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="l-panel">
            <p id="userListHeader" class="center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F33%2F33308.png&f=1&nofb=1" alt="" width="24px" height="24px">
                Users
            </p>
            <div class="userListWrapper">
                <ul id="userList"></ul>
            </div>
            <form action="/">
                <input type="submit" id="exit" value="Leave Room">
            </form>
        </div>
        <div class="r-panel">
            <p id="roomName" class="center">Welcome to Roomers! You are in room {{room}}</p>
            <p id="joinInfo" class="center"></p>
            <div class="chat"></div>

            <div class="controls">
                <button id="sendMsg">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn0.iconfinder.com%2Fdata%2Ficons%2Fflat-round-arrow-arrow-head%2F512%2FGreen_Arrow_Top-512.png&f=1&nofb=1" alt="" width="28" height="28">
                </button>
                <input type="text" id="inputMsg" name="inputMsg" placeholder="Enter message..."><br>
            </div>
        </div>
    </div>

    <div class="modal-bg">
        <div class="modal-content">
            <p id="modalTitle">Before you dive in, give us a name so everyone else knows who you are!</p>
            <input type="text" id="username" placeholder="Enter name...">
            <button id="submitName">Start chatting!</button>
        </div>
    </div>
</body>
</html>