<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomers</title>
</head>
<body>
    <h1>Welcome to Roomers!</h1>
    <div class="infoContainer">
        <label for="username">Enter a name:</label>
        <input type="text" name="username" id="username">
        <input type="text" name="room" id="">
    </div>
</body>
</html>