body {
    background-color: rgb(49, 218, 147);
}

.container {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 25px;
    background-color: #fff;
}

.msgWrapper {
    border-color: gray;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    width: 75%;
    height: 200px;
    float: right;
    overflow: auto;
}

.controls {
    width: 75%;
    height: 30px;
    float: right;
}

#msg {
    width: 88.7%;
    height: 100%;
    vertical-align: middle;
    float: left;
}

#send {
    width: 10%;
    height: 120%;
    vertical-align: middle;
    float: right;
}

.center {
    text-align: center;
}