@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
    background-color: rgb(223, 102, 102);
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 25px;
    background-color: #fff;
}

.msgWrapper {
    border-color: gray;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    width: 80%;
    height: 250px;
    float: right;
    overflow: auto;
}

.controls {
    width: 80.2%;
    height: 35px;
    float: right;
}

#msg {
    width: 91.2%;
    height: 100%;
    vertical-align: middle;
    float: left;
    font-family: 'Noto Sans JP', sans-serif;
}

#send {
    background-color: #8ee9be;
    width: 7.5%;
    height: 119.5%;
    vertical-align: middle;
    float: right;
    border-width: 0.5px;
    transition: background-color 0.5s ease-out;
    font-family: 'Noto Sans JP', sans-serif;
}

#send:hover {
    background-color: #1ca872;
}

.center {
    text-align: center;
}